@import "variables";
@import "mixins";

.app__content {
  position: absolute;
  left: 0;
  right: 0;
  //height: $toolbar-height;
  top: $header-height + $toolbar-height;
  //border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 7px 10px;
  display: flex;


  .button {
    @include button();
  }

}
