@import "variables";
@import "mixins";

.app__toolbar {
  position: absolute;
  left: 0;
  right: 0;
  height: $toolbar-height;
  top: $header-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 7px 10px;
  display: flex;


  .button {
    @include button();
  }

  .toolbar__mesh-name {
    padding: 7px 5px;
  }

  .toolbar__label {
    display: flex;
    border-right: 1px solid $border-color;
  }

  .label {
    padding: 5px;
  }

  .mdl-textfield{
    padding-top: 0;
  }

}
